
<body>
    
    <!-- navigation component here -->
    <h1>JADE VISUALS</h1>
    <hr>
<section class="intropage">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="mydescription">
                <h2 class="text-center">Photographer // Graphic Designer</h2>
                <p class="text-center">I’m Elvis Dude, a creative professional photographer passionate about capturing beauty in everyday life.
                     Let me capture the story of your life, one chapter at a time!</p>
            </div>
            <div class="buttons row container">
              
                <a href="" class="col-12 col-lg-4 col-md-4 col-sm-6 text-center"><button type="button"  id="btn2">Hire me</button></a>
                <a routerLink="/display" class="col-12 col-lg-4 col-md-4 col-sm-6 text-center">
                    <button class="btn3" id="complex-gradient-transition">View Portfolio</button>
                </a>
            


                
                <!-- <button onload="change()" id="background"> ghkjhgkjghjkghfjgdfggjdfhg</button> -->
            </div>
            <div class="socials text-center">
                <div class="socialdisplay">
                    <a href="https://wa.me/+254790552354" target="_blank"><i class="fa-brands fa-square-whatsapp fa-2x whatsaap-icon"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-facebook fa-2x fbicon"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-instagram fa-2x instaicon"></i></a>
                    
                </div>
            </div>
        </div>
        <div class="quotes row">
            <hr>
            <div class="col-6 col-lg-4 col-md-4 col-sm-6">
                <p><i class="fa-solid fa-quote-left"></i><br>
                    &nbsp; &nbsp;&nbsp;&nbsp; I'll travel to the ends of the Earth for you!
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    <i class="fa-solid fa-quote-right"></i>
                </p>
            </div>
            <div class="col-6 col-lg-4 col-md-4 col-sm-6">
                <!-- circular text -->
                <div class="quote-wrapper">
                    <blockquote class="text" cite="http://www.inspireux.com/category/quotes/jesse-james-garrett/">
                      <p>Your story is unique, Lets tell it that way.</p>
                    </blockquote>
                  </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <h3 class="text-center">ABOUT ME</h3>
            <hr>
            <img src="/assets/images/dudeboy.jpeg" alt="" width="80%">
        
        </div>
    </div>
    
</section>
<section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatum excepturi aperiam!</p>
</section>
<footer>
    <p class="text-center">DUDE ELVIS <br> 0790 552 354</p>
</footer>





<section class="component">
<blockquote class="callout quote EN">
    <br>Your story is unique, Lets tell it that way.<br>
  </blockquote>
</section>




</body>

